<section class="index-page">
  <img crossorigin="anonymous" class="avatar" src="{{avatar}}" alt="Avatar {{{displayName}}}">
  <h2>Hello {{{displayName}}}!</h2>
  <p>
    <a href="/auth/logout">Log out</a>
  </p>
</section>
